{% extends "base.html" %}
{% import 'bootstrap5/form.html' as wtf %}

{% block app_content %}
<a href="../flights">
    <button class="btn btn-primary"> < Назад</button>
</a>
<br><br>
<div class="row">
    <div class="col col-sm-4">
        <div class="card">
            <div class="card-header text-bg-dark">
                Информация о рейсе
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>Номер</td>
                        <td>{{c[0]}}</td>
                    </tr>
                    <tr>
                        <td>Дата отправления</td>
                        <td>{{c[1]}}</td>
                    </tr>
                    <tr>
                        <td>Маршрут</td>
                        <td>{{c[2]}}</td>
                    </tr>
                    <tr>
                        <td>Самолет</td>
                        <td>{{c[3]}}</td>
                    </tr>
                    <tr>
                        <td>Занято мест</td>
                        <td>{{c[4]}}/{{c[5]}}</td>
                    </tr>
                </table>
                <a href="/flights/rm/{{c[0]}}">
                    <button class="btn btn-danger" name="id" value="{{c[0]}}">Отменить</button>
                </a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header text-bg-dark">
                Список пассажиров
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>#</td>
                        <td>ФИО</td>
                        <td>Документ</td>
                        <td>Номер документа</td>
                    </tr>
                    {% for p in passengers %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{p[6]}}</td>
                        <td>{{p[11]}}</td>
                        <td>{{p[8]}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}